/ {
    chosen {
        zmk,keyboard = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        row-gpios = <>;
        col-gpios = <>;
    };
};
